certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
decorator==4.4.2
dogpile.cache==1.0.2
gssapi==1.6.9
idna==2.10
importlib-metadata==2.0.0
koji==1.23.0
pbr==5.5.1
prometheus-client==0.8.0
pycparser==2.20
pyOpenSSL==19.1.0
python-dateutil==2.8.1
requests==2.24.0
requests-gssapi==1.2.2
six==1.15.0
stevedore==3.2.2
urllib3==1.25.11
zipp==3.4.0
