certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.8
decorator==5.1.0
dogpile.cache==1.1.4
gssapi==1.7.0
idna==3.2
importlib-metadata==4.8.1
koji==1.26.0
pbr==5.6.0
prometheus-client==0.11.0
pycparser==2.20
pyOpenSSL==20.0.1
python-dateutil==2.8.2
requests==2.26.0
requests-gssapi==1.2.3
six==1.16.0
stevedore==3.4.0
urllib3==1.26.6
zipp==3.5.0
