certifi==2026.2.25
cffi==2.0.0
chardet==7.4.1
cryptography==46.0.7
decorator==5.2.1
defusedxml==0.7.1
dogpile.cache==1.5.0
gssapi==1.11.1
idna==3.11
importlib-metadata==9.0.0
koji==1.36.0
pbr==7.0.3
prometheus-client==0.24.1
pycparser==3.0
pyOpenSSL==26.0.0
python-dateutil==2.9.0.post0
requests==2.33.1
requests-gssapi==1.4.0
six==1.17.0
stevedore==5.7.0
urllib3==2.6.3
zipp==3.23.0
